body {
  background-color: #111;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.livreDura {
  width: 600px;
  height: auto;
  position: relative;
  perspective: 1500px;
}

.toggleDura {
  display: none;
}

.pageDura {
  position: absolute;
  width: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;
}

.pageDura img {
  display: block;
  width: 100%;
  height: auto;
}

.couvertureDura {
  z-index: 3;
  transform: rotateY(0deg);
}
.corps1Dura,
.corps2Dura {
  transform: rotateY(-180deg);
}

/* Interactions */

#page1Dura:checked ~ .couvertureDura {
  transform: rotateY(180deg);
}
#page1Dura:checked ~ .corps1Dura {
  transform: rotateY(0deg);
  z-index: 2;
}

#page2Dura:checked ~ .corps1Dura {
  transform: rotateY(180deg);
}
#page2Dura:checked ~ .corps2Dura {
  transform: rotateY(0deg);
  z-index: 1;
}
