/* style.css */

.start-gif {
  display: block;
  margin-top: -15;
  margin-bottom: 5px;
  height: auto;
}

.end-gif {
  display: block;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

p {
  text-indent: 7ch;
  margin-bottom: 16px;
}

p::first-letter {
  color: skyblue;
  font-weight: bold;
}
