/* style.css */

.start-gif {
  margin-top: 0;
  margin-bottom: 10px;
}

.end-gif {
  margin-top: 20px;
  margin-bottom: 0;
}

p {
  text-indent: 7ch;
  margin-bottom: 16px;
}

p::first-letter {
  color: skyblue;
  font-weight: bold;
}
